@font-face {
    font-family: 'LoRes_Regular';
    src: url("../hasbara-tracker/assets/fonts/lores12ot-regular-webfont.woff2") format('woff2'),
         url("../hasbara-tracker/assets/fonts/lores12ot-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AcuminPro_WideSemibold';
    src: url("../hasbara-tracker/assets/fonts/acumin_pro_wide_semibold-webfont.woff2") format('woff2'),
         url("../hasbara-tracker/assets/fonts/acumin_pro_wide_semibold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'LoRes_Regular';
}

body {
    font-family: 'AcuminPro_WideSemibold';
}