a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

a:hover {
    text-decoration: dashed underline;
}

a:hover .play-arrow {
    color: #9dff20;
}

a[target="_blank"]:hover::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
  }
  
.arrow {
    font-size: 3.8em;
    top: 1%;
    left: 0.5%;
    position: fixed;
}

.arrow:hover {
    text-decoration: none;
    color: #9dff20;
}

.arrow a {
    text-decoration: none;
}

body {
    background-color: #cbcbcb;
    /* font-size: 1.15em; */
    margin: 5% 5% 5% 5%;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: crosshair;
    border: dotted black;
    border-radius: 5px;
    background-color: transparent;
    font-size: 0.8em;
}

.claim {
    font-style: oblique;
    font-size: 0.9em;
    letter-spacing: 1.5px;
}

.context {
    font-size: 0.9em;
}

.date {
  font-size: 1em;
  font-family: 'HelveticaNeue_Light', Helvetica, sans-serif;
  vertical-align: top;
}

.date::after {
    content: '\a 2023';
    }

.debunked {
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.claim-header-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 4;
    opacity: 0.97;
    background: #cbcbcb;
    height: 60px;
    /* box-shadow: 0px 10px 15px -3px #9eff2038, 0px 2px 3px -2px rgba(0, 0, 0, 0.05); */
    top: 0;
}

.claim-tag {
    border: solid 1.2px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    background: #bfe1f6;
    border-color: #d4dfe6;
}

.debunk-tag {
    border: solid 1.2px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    background: #ffcfc9;
    border-color: #f8e4e2;
}

.context-tag {
    border: solid 1.2px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    background: #d4edbc;
    border-color: #dfdfdf;
}

/* .claim-subheading {
    font-size: 1.1em;
    font-family: 'HelveticaNeue_Medium', Helvetica, sans-serif;
    vertical-align: middle;
    padding-bottom: 1%;
}

.claim-subheading::after {
    content: '\a\a';
    white-space: pre;
} */

details { 
    display: inline;
    cursor: crosshair;
}
    
details[open] {
    cursor: default;
    /* line-height: 27px; */
}

details[open] .expand-text {
    /* display: none; */
    /* transform: rotate(180deg); */
}

details > summary {
    list-style: none;
    font-weight: 600;
    padding-bottom: 5%;
}
    
details > summary::-webkit-details-marker {
    display: none;
}

.expand-text {
    font-size: 1.5em;
    padding-left: 3px;
    font-weight: 600;
    color: #585151;
}

.expand-text::after {
    content: "+";
}

details[open] .expand-text::after {
    content: '⎯';
    font-size: 0.7em;
}

h1.claim-heading {
    font-family: 'HelveticaNeue_Light', helvetica, sans-serif;
    font-size: 1.5em;
    position: absolute;
    left: 6%;
    width: 100%;
}

.table-container {
    top: 40px;
    position: relative;
}

table {
    width: 100%;
    position: relative;
}

td {
    /* border: 1px solid grey; */
    padding: 25px;
    text-align: left;
    vertical-align: top;
}

tr {
    /* border: 1px solid grey; */
}

thead {
    width: 100%;
    background:#cbcbcb;
}

th {
    padding: 25px;
    /* border: 1px solid grey; */
}

table.a {
    color: #345c00;
    font-size: 13.5px;
}

table.a:hover {
    color: whitesmoke;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.99);
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
}

.modal-content.video-link {
    background: none;  
    overflow-y: hidden;
    width: 46%;
    height: 100%;
}

.play-arrow::after {
    content: '▶\00a0';
}

.search-bar {
    display: block;
    width: 30%;
    margin-top: 5%;
    margin-left: 70%;
    margin-bottom: 2%;
}






@media only screen and (max-width: 768px) {
    a {
        z-index: 1; /* makes the a link text hide under the video, on mobile*/
    }

    .claim-header-container {
        height: 40px;
        /* box-shadow: 0px 10px 15px -3px #9eff2038, 0px 2px 3px -2px rgba(0, 0, 0, 0.05); */
        top: 0;
        border-bottom: #867d7d solid 0.5px;
        padding: 8px;
    }

    .claim-tag {
        margin: 0 0 0 27%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .debunk-tag {
        margin: 0 0 0 27%;
        padding-left: 40px;
        padding-right: 40px;
    }

    details[open] {
        cursor: default;
        line-height: 28px;
    }

    .context-tag {
        margin: 0 0 0 27%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .table-container {
        top: 0;
        /* position: relative; */
        display: flex;
        flex-direction: column;
    }    

    table {
        /* border-collapse: collapse; */
        width: 100%;
        border: none;
        top: 105px;
    }

    tr {
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
        /* padding-bottom: 30px; */
        border: none;
    }

    td {
        display: block;
        border-bottom: none;
        text-align: left;
        padding: 15px;
        margin: 0 -4% 0 -4%;
    }

    thead {
        border: none;
        position: fixed;
        height: 90px;
        top: 4%;
        left: 1%;
        z-index: 2;
        border-bottom: #867d7d solid 0.5px;
    }

    th {
        /* display: block; */
        padding-left: 5%;
        text-align: left;
        font-size: 0.9em;
        font-weight: 400;
        position: -webkit-sticky;
        position: sticky;
    }

    .arrow {
        font-size: 1.9em;
        top: 1.5%;
        margin-left: 2%;
        /* /* position: fixed; */
        /* display: none; */
    }

    .arrow-menu {
        margin-top: -15%;
        font-size: 2.7em;
        margin-bottom: 15px;
    }

    h1.claim-heading {
        left: -2.5%;
        margin-top: 2%;
        font-size: 0.95em;
        text-align: center;
    }

    .link-icon::after {
        content: '🗏\00a0';
    }
}

    .modal-open {
        overflow: hidden;
    }

    .modal-mobile {
        inset: auto auto 0 auto;
        width: 100% !important;
        z-index: 2;
    }

/* .modal-content.img-link {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #fff;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    padding: 0 0 0 35%;
    box-sizing: border-box;
} */

/* .modal-content.img-link img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
} */

/* .modal-content.tweet-link {
    display: flex; 
    justify-content: center;
    align-items: center; 
    background: #fff;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    padding: 5% 0 0 38%; 
    box-sizing: border-box;
} */

/* .modal-content.tweet-link img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
} */
