.active {
  /* background-color: #9dff20; */
  /* color: black; */
  font-style: oblique;
  /* text-decoration: dashed underline; */
}

.btn-green {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
    padding: 1.7em;
    background-color: #9dff20;
    font-size: 0.93em;
    border: none;
    border-radius: 0;
    font-family: 'Helvetica', Helvetica, sans-serif;
}

.btn-green:hover {
    background-color: #000;
    color: #fff;
}

h1.ht-heading {
    font-family: 'LoRes_Regular';
    font-size: 2.05em;
    position: absolute;
    left: 14%;
    margin-top: 0%;
    width: 100%;
} 

/* 
.home-text {
} */

@media only screen and (max-width: 768px) {
    h1.ht-heading {
        font-family: 'LoRes_Regular';
        font-size: 1.7em;
        position: absolute;
        left: 0;
        margin-top: 2%;
        width: 100%;
    }

    #dots {
        margin-top: 5%;
        margin-left: -14%;
        font-size: 1.7em; 
    }
}