h1 {
  font-family: 'LoRes_Regular';
  font-size: 2.1em;
  position: absolute;
  left: 11%;
  margin-top: 0%;
  width: 100%;
}

::selection {
  background: #000;
  color: #000;
}

.active {
  background-color: #9dff20;
  color: black;
  font-style: oblique;
}

.home-text {
  font-size: 1em;
  line-height: 29px;
}

.green-button {
    background-color: #9dff20;
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: none;
    border-radius: 0;
    width: 66px;
    margin-top: 5px;
  }

.green-button:hover {
    background-color: #efefef;
    text-decoration: none;
}
