a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

/* Icon that shows link opens in external window */
a[target="_blank"]:hover::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
    white-space:  nowrap;
}

.archive-link {
    color: rgb(96, 96, 96);
    font-size: 0.7em;
    vertical-align: text-bottom;
}
  
.arrow {
    font-size: 3.8em;
    top: 1%;
    left: 0.5%;
    position: fixed;
}

.arrow a {
    text-decoration: none;
}

.back-to-top {
    margin-left: -4.5%;
    position: fixed;
    bottom: 0;
    background: #dadadad9;
    border-radius: 20px;
    width: 100%;
    z-index: 3;
}

body {
    background-color: #dadada;
    /* font-size: 1.15em; */
    margin: 5% 5% 5% 5%;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: crosshair;
    border: dotted black;
    border-radius: 5px;
    background-color: transparent;
    font-size: 0.8em;
}

.claim {
    font-style: oblique;
    font-size: 0.9em;
    letter-spacing: 1.5px;
}

.context {
    font-size: 0.9em;
}

.date {
  font-size: 1em;
  font-family: 'Helvetica', Helvetica, sans-serif;
  vertical-align: top;
}

.claim-header-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 4;
    opacity: 0.97;
    background: #cbcbcb;
    height: 60px;
    /* box-shadow: 0px 10px 15px -3px #9eff2038, 0px 2px 3px -2px rgba(0, 0, 0, 0.05); */
    top: 0;
}

.claim-mobile-summary {
    margin-top: 10%;
    margin-bottom: 7%;
    width: 105%;
}

.claim-mobile-details {
    margin-bottom: 5%;
    width: 96%;
}

.claim-mobile-source {
    margin-top: 5%;
    padding-bottom: 6%;
    border-bottom: 0.07em dashed black;
    border-radius: 3px;
}

.claim-tag {
    border: solid 0.5px;
    padding: 5% 21% 5% 21%;
    border-radius: 3px;
    /* background: #94ff94; */
    background: #bffb9b;
}

.context-tag {
    border: solid 0.5px;
    padding: 5% 12% 5% 12%;
    border-radius: 3px;
    /* background: #80ffcc; */
    background: #b7fbf3;
}

.debunk-tag {
    font-size: 0.95em;
    border: solid 0.5px;
    padding: 6% 13% 6% 13%;
    border-radius: 3px;
    /* background: #33ff7d; */
    background: #78ff96;
}

strike {
    color: red;
}

h1.claim-heading {
    font-family: 'Helvetica', Helvetica, sans-serif;
    font-size: 1.5em;
    position: absolute;
    left: 6%;
    width: 100%;
}

.how-to {
    margin-top: 4%;
    width: 55%;
    margin-left: 25%;
}

.icon-link {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url('/public/img/circle-grey.png') no-repeat center center;
    background-size: contain;
    margin-right: 3%;
    vertical-align: -5%;
}

/* :: after */
.icon-playarrow {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url('/public/img/play-triangle.svg') no-repeat center center;
    background-size: contain;
    margin-right: 3%;
    vertical-align: -4%;
}

li.dotted {
    margin-left: 7.5%;
    margin-bottom: 2.5%;
    list-style: disc;
}

li.undotted {
    margin-right: 6%;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.99);
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
}

.modal-content.video-link {
    background: none;  
    overflow-y: hidden;
    width: 46%;
    height: 100%;
}

/* Claim Dropdown + Search Bar */
select.claim-dropdown-box {    
    /* disable default styles */
    appearance: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border: solid 0.5px black;
    padding: 0.5rem 2rem 0.5rem 1rem;
    margin-top: 1.1rem;
    text-overflow: ellipsis;

    /* Firefox styles - remove dotted firefox border */
    /* @-moz-document url-prefix() {
        select {
            color: rgba(0,0,0,0);
            text-shadow: 0 0 0 #ffffff;
        } */
    
    /* border: solid 0.5px black;
    background-color: #f0f0f0;
    cursor: row-resize;
    
    padding: 0.7rem 1.5rem 0.7rem 1rem;
    border-radius: 3px;
    text-overflow: ellipsis; */
        
    /* Custom arrow */
    background-image:
        linear-gradient(45deg, transparent 50%, red 50%),
        linear-gradient(135deg, red 50%, transparent 50%);
        /* linear-gradient(to right, #ccc, #ccc); */
    background-position:
        calc(100% - 20px) calc(1em + 1px),
        calc(100% - 15px) calc(1em + 1px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}


/* Hide default dropdown arrow */
select.claim-dropdown-box::-ms-expand {
    display: none;
}

/* Claim dropdown filter + Search bar */
.claim-filter {
    flex: 1;
}

.no-results-text {
    margin-left: 25%;
    margin-right: auto;
}

.search-bar-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    flex: 1;
    min-width: 15rem;
}

.search-bar input {
    /* height: 1.5rem; */
    font-size: 0.85em;
    font-family: 'Helvetica', Helvetica, sans-serif;
    /* letter-spacing: 0.8px; */
    line-height: 25px;
    background: #ffff;
    border: 0.7px solid black;
    border-radius: 3px;
    padding: 0.5rem 0.5rem 0.4rem 2.4rem;
    margin-top: 1.1rem;

    /* icon */
    background-image: url('/public/img/magnifying-glass.png');
    background-size: 1.3em;
    background-repeat: no-repeat;
    background-position: 0.7rem center;

    text-overflow: ellipsis;
}

/* Sources */
.source {
    margin-bottom: 7%
}

.table-container {
    top: 40px;
    position: relative;
}

table {
    width: 100%;
    position: relative;
}

td {
    padding: 25px;
    text-align: left;
    vertical-align: top;
}

thead {
    width: 100%;
    text-align: left;
}

th {
    padding-bottom: 15px;
    padding-left: 20px;
}

table.a {
    color: #345c00;
    font-size: 13.5px;
}

table.a:hover {
    color: whitesmoke;
}

.tracker-container {
   margin-top: 5%;
   width: 100%;
   text-wrap: justify;
}

u {
    text-decoration: underline 0.7px;
}

ul {
    margin-left: -5.8%;
    margin-top: 3%;
}

/* Hidden messages for Text-to-Speech accessibility */
.visually-hidden {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
  }


  /*  ************************************************************ */
  /*  ************************************************************ */
  /*  ************************************************************ */
  /*  ************************************************************ */


/* Tablets and small desktops */
@media only screen and (min-width: 577px) and (max-width: 767px) {
    .claim-filter {
        /* margin-left: 15%; */
    }

    select.claim-dropdown-box {
        /* width: 15rem; */
    }

    .search-bar {
        /* top: 10.1%; */
        /* left: 39.5%; */
        flex: 1;
    }
}



  /*  ************************************************************ */
  /*  ************************************************************ */
  /*  ************************************************************ */
  /*  ************************************************************ */



/* MOBILE VIEW */
@media only screen and (max-width: 576px) {
    a {
        z-index: 1; /* makes the a link text hide under the video, on mobile*/
    }

    .claim-header-container {
        height: 40px;
        /* box-shadow: 0px 10px 15px -3px #9eff2038, 0px 2px 3px -2px rgba(0, 0, 0, 0.05); */
        top: 0;
        border-bottom: #867d7d solid 0.5px;
        padding: 8px;
    }

    /* Hide on mobile. You already see the title in the claim dropdown + search bar */
    .claim {
        display: none;
        /* font-size: 1em;
        letter-spacing: 0;
        border: 0.5px solid black;
        margin-left: 16.3%;
        vertical-align: 0;
        border-radius: 3px;
        background: #cbcbcb;
        width: 43%;
        font-style: normal;
        vertical-align: center;
        text-align: center;
        position: absolute;
        padding: 0.3% 0% 0.3% 0%; */
    }
    
    .claim-tag {
        padding: 0.5% 1% 0.1% 1%;  
        width: 13.2%;
        position: absolute;
        left: 30%;
        text-align: center;
    }

    /* claim tag  */
    /* .custom-cell-3 {
        margin: 0 0 0 0;
        padding-left: 7px;
        padding-right: 7px;
        width: 20%;
        text-align: center;
        font-size: 1em;
        vertical-align: 0;
        border: solid 0.5px;
        border-radius: 3px;
        background: #bdf226;
    } */

    .context-tag {
        padding: 0.5% 1.3% 0.1% 1%;  
        width: 14.5%;
        position: absolute;
        text-align: center;
        left: 30%;
    }

    .date {
        font-size: 1em;
        background: #cbcbcb;
        border: 0.5px solid black;
        border-radius: 3px;
        position: absolute;
        text-align: center;
        left: 5%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        padding-bottom: -0.3%;
        width: 23.5%;
        padding: 0.3% 0% 0.3% 0%;
      }

      
    /* .details-heading {
        background: #cbcbcb;
        border: 0.5px solid black;
        padding: 0.3% 1.5% 0.3% 1.3%;
        border-radius: 3px;
        width: 12.5%;
        margin-top: 12%;
        margin-bottom: 2%;
        text-align: center;
        position: absolute;
    } */

    /* .details-heading::after {
        content: 'Details:';
    } */

    .data-row {
        margin-top: 2.5%;
        /* margin-bottom: 10%; */
        border-bottom: 0.07em dashed black;
    }

    /* Margin spacing above dotted divider/under final source */
    .sources {
        margin-top: 2%;
    }

    .debunk-tag {
        padding: 0.5% 1% 0.1% 1%;  
        width: 14%;
        position: absolute;
        left: 30%;
        text-align: center;
    }

    details[open] {
        cursor: default;
    }

    details {
        margin-top: 10%;
        line-height: 22px;
    }
    
    .how-to {
        font-size: 1em;
        margin-top: 7%;
        margin-left: 1%;
        width: 95%;
    }

    li {
        margin-bottom: 9%;
        margin-left: 15.5%;
    }

    ul {
        margin-left: -13%;
    }

    /* Claim dropdown filter + Search bar */
    .no-results-text {
        margin-left: 1%;
    }

    .search-bar {
        margin-top: 0.65rem;
        margin-left: 8rem;
        position: fixed;
        z-index: 1;
    }

    .search-bar input {
        font-size: 0.9em;
        padding: 1rem 1rem 1rem 2rem;
        width: 95%;
        height: 2.25rem;
    }

    .search-bar-container {
        display: flex;
        /* position: fixed;
        /* margin-top: -14.5%;
        margin-left: 39.9%;
        margin-bottom: 10%;
        /* background: transparent; */
        /* z-index: 1; */
    }

    .tools-background {
        background: #dadada;
        padding: 3rem 20rem 3rem 20rem;
        left: 0;
        position: fixed;
        z-index: 1;
    }

    .claim-filter {
        /* width: 40%; */
        /* left: -2%; */
        /* top: 11.6%; */
    }

    select.claim-dropdown-box {   
        position: fixed;
        padding: 0 0.5rem 0 0.5rem;
        top: 2rem;
        left: 1rem;
        width: 40%;
        padding-right: 6%;
        height: 3.8vh;
        width: 40%;
        z-index: 1;

        background-position:
        calc(100% - 15px) calc(1em + 1px),
        calc(100% - 10px) calc(1em + 1px),
        calc(100% - 2.5em) 0.5em;

    }


    .source {
        margin-bottom: 2%;
    }

    .source-heading {
        background: #dcdcdc;
        padding: 0.3% 0.9% 0.3% 0.9%;
        border: 0.5px solid black;
        border-radius: 3px;
        width: 15.5%;
        margin-top: 7%;
        margin-bottom: 3%;
        text-align: center;
    }

    .source-heading::after {
        content: 'Source:';
    }
    
    table {
        border: none;
        width: 300%;  /* allows table to scroll for ages horizontally, on mobile */
        border-collapse: collapse;
    }

    tr {
        margin-bottom: 20px;
        margin-top: 20px;
        border: none;
    }

    td {
        border-bottom: none;
        text-align: left;
        padding: 25px;
        margin: 0 -4% 0 -4%;
    }

    thead {
        border: none;
        height: 80px;
        top: 5%;
        left: 1%;
        z-index: 2;
        border-bottom: #867d7d solid 0.5px;
    }

    th {
        text-align: center;
        font-size: 1em;
    }

    .tracker-container {
        width: 100%;
        margin-left: 0%;
        margin-right: 3%;
        margin-top: 7rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; 
    }



    .arrow {
        font-size: 1.9em;
        top: 1.5%;
        margin-left: 2%;
        /* /* position: fixed; */
        /* display: none; */
    }

    h1.claim-heading {
        left: -2.5%;
        margin-top: 2%;
        font-size: 0.95em;
        text-align: center;
    }

    .link-icon::after {
        content: '🗏\00a0';
    }
}

    .modal-open {
        overflow: hidden;
    }

    /* .modal-mobile {
        inset: auto auto 0 auto;
        width: 100% !important;
        z-index: 2;
    } */
