a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

a:hover {
    /* text-decoration: dashed underline; */
}

/* a:hover .play-arrow {
    color: #9dff20;
} */

/* Icon that shows link opens in external window */
a[target="_blank"]:hover::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}
  
.arrow {
    font-size: 3.8em;
    top: 1%;
    left: 0.5%;
    position: fixed;
}

.arrow a {
    text-decoration: none;
}

.back-to-top {
    margin-top: 10%;
    text-align: center;
}

body {
    background-color: #cbcbcb;
    /* font-size: 1.15em; */
    margin: 5% 5% 5% 5%;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: crosshair;
    border: dotted black;
    border-radius: 5px;
    background-color: transparent;
    font-size: 0.8em;
}

.claim {
    font-style: oblique;
    font-size: 0.9em;
    letter-spacing: 1.5px;
}

.context {
    font-size: 0.9em;
}

.date {
  font-size: 1em;
  font-family: 'Helvetica', Helvetica, sans-serif;
  vertical-align: top;
}

.claim-header-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 4;
    opacity: 0.97;
    background: #cbcbcb;
    height: 60px;
    /* box-shadow: 0px 10px 15px -3px #9eff2038, 0px 2px 3px -2px rgba(0, 0, 0, 0.05); */
    top: 0;
}

.claim-tag {
    border: solid 1.2px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    background: #bfe1f6;
    border-color: #d4dfe6;
    margin-left: 6%;
    margin-right: auto;
}

.debunk-tag {
    border: solid 1.2px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    background: #ffcfc9;
    border-color: #f8e4e2;
    margin-left: 0;
    margin-right: auto;
}

.context-tag {
    border: solid 1.2px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    background: #d4edbc;
    border-color: #dfdfdf;
}

/* .claim-subheading {
    font-size: 1.1em;
    font-family: 'HelveticaNeue_Medium', Helvetica, sans-serif;
    vertical-align: middle;
    padding-bottom: 1%;
}

.claim-subheading::after {
    content: '\a\a';
    white-space: pre;
} */

details { 
    display: inline;
    cursor: crosshair;
}
    
details[open] {
    cursor: default;
    /* line-height: 27px; */
}

details[open] .expand-text {
    /* display: none; */
    /* transform: rotate(180deg); */
}

details > summary {
    list-style: none;
    padding-bottom: 3%;
    font-family: 'Helvetica', Helvetica, sans-serif;
    font-weight: 600;
}
    
details > summary::-webkit-details-marker {
    display: none;
}

.expand-text {
    font-size: 1.5em;
    padding-left: 3px;
    font-weight: 600;
    color: #585151;
}

.expand-text::after {
    content: "+";
}

details[open] .expand-text::after {
    content: '⎯';
    font-size: 0.7em;
}

h1.claim-heading {
    font-family: 'Helvetica', helvetica, sans-serif;
    font-size: 1.5em;
    position: absolute;
    left: 6%;
    width: 100%;
}

.how-to {
    margin-top: 2%;
    width: 80%;
    margin-left: 15%;
}

li {
    margin-left: 5.5%;
    margin-bottom: 2.5%;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.99);
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
}

.modal-content.video-link {
    background: none;  
    overflow-y: hidden;
    width: 46%;
    height: 100%;
}

.no-results-text {
    margin-left: 15%;
}

.play-arrow::after {
    content: '▷\00a0';
    font-variant-emoji: unicode;
}

.search-bar-container {
    padding-top: 5%;
}

.search-bar {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: auto;
}

.search-bar input {
    height: 30px;
    font-size: 1.1em;
    font-family: 'HelveticaNeue_Light', Helvetica, sans-serif;
    letter-spacing: 0.8px;
    line-height: 25px;
    background: #f0f0f0;
    border:#0000003d solid 0.8px;
    border-radius: 50px;
    padding: 7px 0 10px 40px;

    /* icon */
    background-image: url('/public/img/magnifying-glass.png');
    background-size: 1.3em; /* Adjust background size as needed */
    background-repeat: no-repeat;
    background-position: 10px center; /* Adjust the position of the image */
}


.table-container {
    top: 40px;
    position: relative;
}

table {
    width: 100%;
    position: relative;
}

td {
    padding: 25px;
    text-align: left;
    vertical-align: top;
}

tr {
    /* border: 1px solid grey; */
}

thead {
    width: 100%;
    /* background:#cbcbcb; */
    text-align: center;
}

th {
    padding-bottom: 15px;
}

table.a {
    color: #345c00;
    font-size: 13.5px;
}

table.a:hover {
    color: whitesmoke;
}

.tracker-container {
   margin-top: 5%;
   width: 70%;
   margin-left: 15%;
}

ul {
    margin-left: -9.2%;
}









@media only screen and (max-width: 768px) {
    a {
        z-index: 1; /* makes the a link text hide under the video, on mobile*/
    }

    .claim-header-container {
        height: 40px;
        /* box-shadow: 0px 10px 15px -3px #9eff2038, 0px 2px 3px -2px rgba(0, 0, 0, 0.05); */
        top: 0;
        border-bottom: #867d7d solid 0.5px;
        padding: 8px;
    }

    .claim-tag {
        /* margin: 0 0 0 0; */
        padding-left: 10px;
        padding-right: 10px;
    }

    .context-tag {
        /* margin: 0 0 0 5%; */
        padding-left: 10px;
        padding-right: 10px;
    }

    .debunk-tag {
        /* margin: 0 0 0 0; */
        padding-left: 10px;
        padding-right: 10px;
    }

    details[open] {
        cursor: default;
        /* line-height: 28px; */
    }

    details {
        line-height: 28px;
    }

    .how-to {
        font-size: 1em;
        margin-top: 10%;
        margin-left: 10%;
    }

    li {
        /* margin-left: -3%; */
        margin-bottom: 9%;
    }

    .no-results-text {
        margin-top: 5%;
        margin-left: 10%;
    }

    .search-bar {
        width: 90%;
        margin-left: 1%;
    }

    .search-bar input {
        font-size: 0.9em;
        padding: 10px 0 10px 40px;
    }

    .search-bar-container {
        margin-top: 20%;
    }
    
    table {
        border: none;
        width: 210%;  /* allows table to scroll for ages horizontally, on mobile */
        border-collapse: collapse;
    }

    tr {
        margin-bottom: 20px;
        margin-top: 20px;
        border: none;
    }

    td {
        border-bottom: none;
        text-align: left;
        padding: 25px;
        margin: 0 -4% 0 -4%;
    }

    thead {
        border: none;
        height: 80px;
        top: 5%;
        left: 1%;
        z-index: 2;
        border-bottom: #867d7d solid 0.5px;
    }

    th {
        text-align: center;
        font-size: 1em;
    }

    .tracker-container {
        margin-top: 10%;
        width: 100%;
        margin-left: 0%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; 
    }



    .arrow {
        font-size: 1.9em;
        top: 1.5%;
        margin-left: 2%;
        /* /* position: fixed; */
        /* display: none; */
    }

    .arrow-menu {
        margin-top: -18%;
        font-size: 2.6em;
        margin-bottom: 15px;
    }

    h1.claim-heading {
        left: -2.5%;
        margin-top: 2%;
        font-size: 0.95em;
        text-align: center;
    }

    .link-icon::after {
        content: '🗏\00a0';
    }
}

    .modal-open {
        overflow: hidden;
    }

    .modal-mobile {
        inset: auto auto 0 auto;
        width: 100% !important;
        z-index: 2;
    }
