label {
    width: 100%;
    margin-bottom: -2px;
    display: block;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 3.5%;
}

textarea {
    width: 100%;
    margin-top: 3.5%;
}

select {
    width: 100%;
    margin-top: 3.5%;
}