.google-form-container {
    margin-left: -10%;
}

label {
    width: 100%;
    margin-bottom: 9px;
    display: block;
    font-family: 'HelveticaNeue_Light', Helvetica, sans-serif;
    font-size: 1em;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 2.5%;
    /* border-color: #bfc3c8; */
    border-radius: 4px;
    border-style: hidden;
}

textarea {
    width: 100%;
    margin-top: 2.5%;
    /* border-color: #bfc3c8; */
    border-radius: 4px;
    border-style: hidden;
}

select {
    width: 100%;
    margin-top: 3.5%;
    font-family: 'HelveticaNeue_Light', Helvetica, sans-serif;
    font-size: 1em;
}

.required-field {
    color: rgb(190, 21, 21);
}

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 768px) {
    input {
        /* margin-top: 5%; */
        width: 95%;
    }

    textarea {
        width: 95%;
    }

    select {
        width: 95%;
    }

    label {
        line-height: 30px;
        width: 96%;
    }
}
