label {
    width: 100%;
    margin-bottom: 9px;
    display: block;
    font-family: 'Helvetica', Helvetica, sans-serif;
    font-size: 1em;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 2.5%;
    /* border-color: #bfc3c8; */
    border-radius: 3px;
    border-style: hidden;
    background-color: #f0f0f0;
    font-size: 0.9em;
}

textarea {
    width: 100%;
    margin-top: 2.5%;
    /* border-color: #bfc3c8; */
    border-radius: 3px;
    border-style: hidden;
    background-color: #f0f0f0;
    font-family: 'Helvetica', Helvetica, sans-serif;
    font-size: 0.9em;
    padding: 1%;
    padding-bottom: 0;
}

select {
    width: 100%;
    margin-top: 3.5%;
    border-radius: 3px;
    font-family: 'Helvetica', Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: #f0f0f0;
}

.required-field {
    color: rgb(190, 21, 21);
}


/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 480px) {
    input {
        /* margin-top: 5%; */
        width: 95%;
    }

    textarea {
        width: 95%;
    }

    select {
        width: 95%;
    }

    label {
        line-height: 30px;
        width: 96%;
    }
}
