@font-face {
  font-family: 'LoRes_Regular';
  src: url("./fonts/lores12ot-regular-webfont.woff2") format('woff2'),
       url("./fonts/lores12ot-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AcuminPro_WideSemibold';
  src: url("./fonts/acumin_pro_wide_semibold-webfont.woff2") format('woff2'),
       url("./fonts/acumin_pro_wide_semibold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'LoRes_Regular';
  font-size: 1.9em;
  position: absolute;
  left: 5%;
  top: 4%;
}

h2 {
    text-align: left;
    font-family: 'AcuminPro_WideSemibold';
    position: relative;
    margin: 0 0 2% 0; 
  }

body {
  background-color: #cbcbcb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  margin: 15% 26% 5% 29%;
  text-align: left;
}

.investigating {
  background-color: black;
}

/* Define the animation */
@keyframes blink {
  0% {
      opacity: 0; /* All dots are invisible at the start */
  }
  25% {
      opacity: 1; /* First dot appears */
  }
  50% {
      opacity: 1; /* Second dot appears */
  }
  75% {
      opacity: 1; /* Third dot appears */
  }
  100% {
      opacity: 1; /* All dots are visible at the end */
  }
}

/* Dots animation */
@keyframes blink-in {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


#dots {
    font-family: 'LoRes_Regular';
    font-size: 2.1em;
    position: absolute;
    left: 19%;
    top: 45px;
    width: 100%;
  
}


button {
  padding: 10px;
  margin: 5px;
  cursor: crosshair;
  border: dotted black;
  border-radius: 5px;
  background-color: transparent;
  font-size: 0.8em;
}

/* Add styling to the filtered items */
.filtered-item {
  display: none;
  margin-top: 2.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a::selection {
  background: #000;
  color: whitesmoke;
} */

::selection {
  background: #9dff20;
  color: #000;
}

/* Add styling for the active state of the button */
/* .active {
  background-color: #9DFF20;
  color: black;
  font-style: oblique;
} */

.navbar {
  position: fixed;
  top: 10%;
  right: 17%;
  /* padding: 15px; */
  display: flex;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  margin-left: 10px;
  padding: 8px;
  font-size: 0.85em;
}

.navbar a:hover {
  text-decoration: underline;
}

.content-container {
        position: absolute;
        left: 20%;
        margin: 12% 30% 0 12%;
}

.header-container {
    position: absolute;
    margin: 1% 10% 10% 1%;
    width: 100%;
}

.claims-heading {
    /* position: absolute; */
    /* top: 1%; */
    /* left: 31%; */
    /* margin-top: 250px; */
}

.filters {
    /* position: absolute; */
    /* left: 20%; */
    /* margin: 12% 30% 0 12.8%; */
}
