/* Fonts */
@font-face {
    font-family: 'LoRes_Regular';
    src:url("./fonts/lores12ot-regular-webfont.woff2") format('woff2'),
        url("./fonts/lores12ot-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'AcuminPro_WideSemibold';
    src:url("./fonts/acumin_pro_wide_semibold-webfont.woff2") format('woff2'),
        url("./fonts/acumin_pro_wide_semibold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'Helvetica';
    src:url('/src/fonts/helvetica.woff2') format('woff2'),
        url('/src/fonts/helvetica.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaBold';
    src:url('/src/fonts/helvetica-bold.woff2') format('woff2'),
        url('/src/fonts/helvetica-bold.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue_Light';
    src:url("./fonts/helveticaneue_light.woff2") format("woff2"),
        url("./fonts/helveticaneue_light.woff") format("woff");
}

@font-face {
    font-family: 'HelveticaNeue_Medium';
    src:url("./fonts/helveticaneue_medium.woff2") format("woff2"),
        url("./fonts/helveticaneue_medium.woff") format("woff");
}


/* Styles */
a:hover {
    cursor: crosshair;
    text-decoration: dashed underline;
}

a.active {
    /* background-color: #9dff20; */
    /* font-style: oblique; */
    text-decoration: dashed underline !important;
  }
  
.btn-green {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
    padding: 1.7em;
    background-color: #9dff20;
    font-size: 0.93em;
    border: none;
    border-radius: 0;
    font-family: 'Helvetica', Helvetica, sans-serif;
}

.btn-green:hover {
    background-color: #000;
    color: #fff;
}

h1.homepage-heading {
    font-family: 'LoRes_Regular';
    font-size: 2.05em;
    position: absolute;
    left: 14%;
    margin-top: 0%;
    width: 100%;
  }

h1 a:hover {
    text-decoration: none;
}

h2 {
    text-align: left;
    font-family: 'Helvetica', Helvetica, sans-serif;
    position: relative;
    line-height: 1.3em;
}

body {
    background-color: #DADADA;
    font-family: 'Helvetica', Helvetica, sans-serif;

    font-size: 1.1rem;
    line-height: 1.5rem;

    margin: 15% 26% 5% 29%;
    text-align: left;

    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.claim-link {
    text-decoration: dashed underline;
    margin-bottom: 1.2rem;
}

.claim-coming-soon {
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin-bottom: 1.2rem;
}

.claims-list {
    margin-top: 30px;
}

::selection {
    background: rgba(176, 245, 85, 0.424)
}

.investigating {
    background-color: black;
}

#dots {
    font-family: 'LoRes_Regular';
    font-size: 2.10em;
    position: absolute;
    left: 5%;
    top: 5.5%;
    transform: translateY(-50%);
    width: 100%;
}

details article {
    opacity: 0;
}
  
details[open] article {
    animation: fadeIn 300ms linear forwards;
    cursor: default;
}

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    } 

details[open] .expand-text::after {
    content: '—';
    font-size: 0.7em;
}

details { 
    display: inline;
    cursor: crosshair;
}

details[open] {
    cursor: n-resize;
}

details > summary {
    list-style: none;
    padding-bottom: 1%;
    font-family: 'Helvetica', Helvetica, sans-serif;
}

details > summary::-webkit-details-marker {
    display: none;
}

.expand-text {
    font-size: 1.5em;
    padding-left: 3px;
    font-weight: 600;
    color: #585151;
}

details[open] .expand-text::after {
    content: '—';
    font-size: 0.5em;
}

.expand-text::after {
    content: "+";
}

.filtered-item {
    display: none;
    margin-top: 2.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h2 .expand-text {
    font-size: 1em;
    padding-left: 3px;
    font-weight: 600;
    color: #585151;
}

.home-text {
    padding-bottom: 1rem;
}

.logo-container {
    width: 17rem;
    position: absolute;
    /* flex: 1; */
    /* left: 4.6rem; */
    top: 1rem;
    
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 20% 0 20%;
    left: 0%;
    padding-bottom: 3%;
    min-width: 500px;
}

.columns-container {
    left: 5.1%;
    top: 15%;

    display: flex;
    justify-content: space-between;

    gap: 100px;
    width: 85%;
}

.column {
    width: 50%;
    box-sizing: border-box;
}



.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* min-height: 10vh; */
    padding-bottom: 10px;
    bottom: 0;
    position: relative;
}



.footer {
    position: absolute;
    bottom: -6490%;
    padding-bottom: 50px;
    right: 5%;
    display: flex;
    list-style-type: none;
    white-space: nowrap;
}

.footer a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
}


.footer a:hover {
    cursor: crosshair;
    text-decoration: dashed underline;
}


/* Header */
.header-container {
    /* position: absolute; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 10vh;
    padding-bottom: 10px;
}

h1.ht-heading {
    font-family: 'LoRes_Regular';
    font-size: 2.05em;
    position: absolute;
    flex: 1;
    left: 5%;
    /* margin-top: -0.9%; */
    top: 0;
    width: 100%;
}

.nav-links {
    position: absolute;
    top: 3.5%;
    right: 15%;
    display: flex;
    list-style-type: none;
    white-space: nowrap;
}

.nav-links a {
    text-decoration: none;
    margin-left: 10px;
    padding: 2%;
    font-size: 1em;
}

.nav-links a:hover {
    cursor: crosshair;
    text-decoration: dashed underline;
}


/* Menu */
.mobile-menu {
    display: none;
  }

.menu-links {
    display: flex;
    flex-direction: column;
}
  
.menu-links a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* For all screens bigger than a mobile – handles how columns are shown on homepage */
@media only screen and (min-width: 576px) {
    .hide-on-desktop {
        display: none;
    }
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* Mobile devices */
@media only screen and (max-width: 576px) {
    .btn-green {
        margin-bottom: 10%;
    }

    body {
        font-size: 0.95em;
    }

    .claim-link {
        margin-bottom: 5%;
    }

    .content-container {
        margin: 15% 0 15% 0;
        min-width: 300px;
        left: 0;
    }

    details.expandable-text-homepage {
        margin-top: 0;
    }

    #dots {
        /* margin-left: 0%; */
        font-size: 1.65em; 
        position: absolute;
        /* left: 5%; */
        top: 60%;
        transform: translateY(-50%);
        width: 100%;
    }

    h1.ht-heading {
        font-family: 'LoRes_Regular';
        font-size: 1.6em;
        position: absolute;
        left: 5%;
        margin-top: 2.85%;
        width: 100%;
    }

    h2 {
        font-size: 1.1em;
    }

    .hide-on-mobile {
        display: none;
    }

    .footer {
        display: none;
    }

    .nav-links {
        display: none;
    }


    /* Menu */
    .mobile-menu {
        /* display: flex;
          align-items: center;
          justify-content: flex-end;
          right: -15%;
          position: absolute;
          margin-top: 1%; */
          display: flex;
          align-items: center;
          justify-content: flex-end;
          position: absolute;
          top: 3%;
          right: 4%;
          z-index: 3;
      }

    .bar {
        width: 4px;
        height: 4px;
        background-color: #333;
        margin: 3px 0;
        transition: 0.4s;
      }

    .logo-container {
        width: 12rem;
        top: 0.5rem;
        left: 1.3rem;
    }
    
    .menu-icon {
        cursor: crosshair;
        display: flex;
        flex-direction: column;
        padding: 0.7em; /* Increase clickable area */
    }

    .arrow-menu {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        position: absolute;

        top: 2%;
        right: 3%;

        font-family: 'Helvetica', Helvetica, sans-serif;
        font-size: 1.1em;
        line-height: 1.5em;
        text-align: right;
    }

    .break {
        margin-bottom: 20%;
    }


    /* Header */
    .header-container {
        top: 0;
        left: 0;
        position: fixed;
        background: #dadada;
        z-index: 5;
        width: 100%;
        /* padding-top: 0px; */
        /* padding-bottom: 0px; */
        min-height: 5vh;
    }

    /* .filters {
        margin-left: -1%;
    }

    .filtered-item {
        font-size: 0.95em;
        margin-top: 4.9%;
        margin-left: 2%;
    } */
}
  
  /* Tablets and small desktops */
  @media only screen and (min-width: 577px) and (max-width: 767px) {
    /* Styles for screens between 577px and 767px wide (typically tablets) */
    .content-container {
        position: relative;
        margin: 0 20% 0 20%;
        padding-bottom: 3%;
        min-width: 450px;
        left: 0%;
    }

    .columns-container {
        position: absolute;
        left: 6%;
        top: 15%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        width: 90%;
    }

    /* space to divine up menu links */
    .break {
        margin-bottom: 5%
    }

    .column {
        width: 50%;
    }

    .footer {
        bottom: -6500%;
        right: 5%;
    }

    .logo-container {
        /* left: 2.5rem; */
        top: 1rem;
        width: 15rem;
        
    }

    
    h1.ht-heading {
        top: 0;
        left: 5%;
        font-size: 4.3vw;
    }

    #dots {
        font-size: 4.4vw;
        position: relative;
        left: 0%;
        margin-top: -5%;
        transform: translateY(-50%);
        width: 100%;
    }

    
    .arrow-menu {
        font-size: 2.5em;
        margin-bottom: 2.5%;
    }

    .menu-links {
        text-align: right;
        margin-top: 3%;
        margin-right: 2%;
    }

    .nav-links {
        font-size: 0.9em;
        right: 12%;
    }


    /* Menu */
    .mobile-menu {
        /* display: flex;
          align-items: center;
          justify-content: flex-end;
          right: -15%;
          position: absolute;
          margin-top: 1%; */
          display: flex;
          align-items: center;
          justify-content: flex-end;
          position: absolute;
          top: 2%;
          right: 4%;
          z-index: 3;
      }

      .menu-icon {
        cursor: crosshair;
        display: flex;
        flex-direction: column;
        padding: 0.7em; /* Increase clickable area */
    }

      .bar {
        width: 5px;
        height: 5px;
        background-color: #333;
        margin: 3px 0;
        transition: 0.4s;
      }

      .nav-links {
        display: none;
      }
  }
  
  /* Medium-sized devices */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for screens between 768px and 991px wide (small desktops) */
  }
  
  /* Large desktops */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for screens between 992px and 1199px wide (medium desktops) */
  }
  
  /* Extra-large desktops */
  @media only screen and (min-width: 1200px) {
    /* Styles for screens wider than 1199px (large desktops) */
  }
